.header {
/* position: fixed; */
top: 0;
left: 0;
width: 100%; /* Ensures it spans the full width of the browser */
padding: 10px 5%;
background: transparent;
display: flex;
justify-content: space-between; /* Spreads the logo and navbar */
align-items: center;
}

.logo {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
}

/* Make the navigation bar sticky */
.header {
    position: sticky;
    top: 0;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-left: 30px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    width:0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

/* The line under the link will stretch 
to the length of the link button */
.navbar a:hover::before{
    width: 100%;
}
